body {
    background-color: #3498db;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    height: max-content;
    display: grid;
    grid-template-areas: 
      "buttonPrev slide buttonNext"
      "dots dots dots";
    grid-template-columns: 30px max-content 30px;
    grid-template-rows: max-content 30px;
    grid-gap: 10px;
}

.slider > * {
    align-self: center;
    justify-self: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px #fff;
    color: #fff;
    background-color: #3498db;
}

.button-prev {
    grid-area: buttonPrev;
}

.button-next {
    grid-area: buttonNext;
}

.slides {
    grid-area: slide;
    display: flex;
    overflow: hidden;
    width: 400px;
}

.slides-item {
    text-align: center;
    position: relative;
    width: 400px;
    height: 100px;
    margin: 0 10px;
    background-color: #fff;
}

.slide-current {
    display: block;
}

.dots {
    grid-area: dots;
}

.dots__item {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid 2px #fff;
    
    background-color: #3498db;
}

.dots__item:last-child {
    margin-right: 0;
}

.dot-current {
    background-color: rgb(255, 255, 255);
}

.slideText {
    padding-top: 50px;
    width: 400px;
    height: 100px;
}